<div class="container">

  <div class="header">
    <h1>Stupid Coaching</h1>
  </div>

  <div class="ask-question-form w-100">
    <div class="label w-100">
      <p>Ask your coach anything</p>
    </div>
    <div class="question-input w-100">
      <form action="/answer">
        <input type="text" name="question">
        <input type="submit" value="Ask!">
      </form>
    </div>
  </div>
</div>
